@model Assignment_CS5.ViewModels.PaginationViewModel

@{
    ViewData["Title"] = "Customer management";
}

<div style="margin-top:155px">

    <div class="row m-5 justify-content-center">
        <form class="w-50" asp-action="Index" asp-controller="Customer" method="get">
            <div class="row w-100" style="height:50px;">
                <div class="col-lg-3"> <a class="nav-link btn-outline-primary link-edit w-100 h-100 " asp-action="Create" asp-controller="Customer">Add <br /> Customer</a></div>
                <div class="col-lg-6"><input class="w-100 h-100" type="text" name="searchString" placeholder="Enter a search keyword" /></div>
                <div class="col-lg-3"> <button type="submit" class="btn-outline-primary link-edit w-100 h-100">Search</button></div>
            </div>
        </form>
    </div>

    <div class="row m-5">
        <table class="table text-light mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone number</th>
                    <th>Date of birth</th>
                    <th>Point</th>
                    <th>Locked</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {

                    <tr>
                        <td><a class="nav-link link-dark link-edit m-0" asp-action="Edit" asp-controller="Customer" asp-route-Id="@item.CustomerID">@item.CustomerID</a></td>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.Gender</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                        <td>@item.Point</td>
                        <td><input type="checkbox" checked="@item.Locked" disabled style="height: 20px; width: 20px;"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        @{
            int totalPages = Model.PaginationInfo.TotalPages;
            int currentPage = Model.PaginationInfo.CurrentPage;
            int displayPages = 5; // Số trang hiển thị
            int halfDisplayPages = displayPages / 2;
            int startPage = Math.Max(currentPage - halfDisplayPages, 1);
            int endPage = Math.Min(startPage + displayPages - 1, totalPages);

            if (endPage - startPage + 1 < displayPages)
            {
                startPage = Math.Max(endPage - displayPages + 1, 1);
            }
        }

        <div class="pagination">
            @if (currentPage > 1)
            {
                <a class="ml-2 mr-2 p-2 btn-outline-danger text-center rounded rounded-2" href="@Url.Action("Index", new {searchString =Model.PaginationInfo.SearchKeyword, page = 1 })">First</a>
            }

            @if (startPage > 1)
            {
                <a class="ml-2 mr-2 p-2 btn-outline-danger text-center rounded rounded-2" href="@Url.Action("Index", new { searchString =Model.PaginationInfo.SearchKeyword,page = startPage - 1 })">...</a>
            }

            @for (int i = startPage; i <= endPage; i++)
            {
                if (i == currentPage)
                {
                    <span class="ml-2 mr-2 p-2 btn-outline-danger text-center rounded rounded-2 text-light">@i</span>
                }
                else
                {
                    <a class="ml-2 mr-2 p-2 btn-outline-danger text-center rounded rounded-2" href="@Url.Action("Index", new {searchString =Model.PaginationInfo.SearchKeyword, page = i })">@i</a>
                }
            }

            @if (endPage < totalPages)
            {
                <a class="ml-2 mr-2 p-2 btn-outline-danger text-center rounded rounded-2" href="@Url.Action("Index", new {searchString =Model.PaginationInfo.SearchKeyword, page = endPage + 1 })">...</a>
            }

            @if (currentPage < totalPages)
            {
                <a class="ml-2 mr-2 p-2 btn-outline-danger text-center rounded rounded-2" href="@Url.Action("Index", new {searchString =Model.PaginationInfo.SearchKeyword, page = totalPages })">Last</a>
            }
        </div>
    </div>
</div>
